.container {
  width: calc(100% - 30px);
  margin: 30px 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 20px;
}

@media (min-width:768px) {
  .container {
      max-width: 1050px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 120px;
      gap: 40px;
  }
}

@media (min-width:768px) {
  .first {
      flex-flow: row-reverse;
  }
}

@media (min-width:768px) {
  .second {
      flex-flow: row;
  }
}

.h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width:768px) {
  .h3 {
      font-size: 28px;
      text-align: left;
  }
}

.p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 20px;
}

@media (min-width:768px) {
  .p {
      font-size: 16px;
  }
}

.img {
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width:768px) {
  .img {
      max-width: 40%;
  }
}