@charset "utf-8";

.header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}

@media (min-width: 768px) {
  .header {
    height: auto;
    margin: 30px auto;
    max-width: 1050px;
  }
}

.headerContainer {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);  
  /* background-color: #FFFFFF; */
  box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, 0.8);
  /* box-shadow: 0px -4px 20px -5px rgba(0, 0, 0, 0.25); */
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 5%;
  margin: 15px;
  border-radius: 10px;
  width: calc(100% - 30px);
  backdrop-filter: blur(2px);
}

@media (min-width: 768px) {
  .headerContainer {
    border-radius: 10px;
    margin: 15px;
    width: calc(100% - 30px);
  }
}